<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CustomCommandBarCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <CustomCommandBarCreator.Properties.Settings>
            <setting name="LastGMSFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="SetupFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="LogoPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="ReadmePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="IconPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="Author" serializeAs="String">
                <value/>
            </setting>
            <setting name="Email" serializeAs="String">
                <value/>
            </setting>
        </CustomCommandBarCreator.Properties.Settings>
    </userSettings>
</configuration>
